
  body {
    background-color: #FBF1DA;
    color: #251605;
  }

  h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 5.5vw;
  }

  h2 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 4vw;
  }

  h3 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 3vw;
  }

  h4 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 2vw;
  }

  p1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2vw;
  }

  /* Navbar */
  .navbar {
    background-color: #FBF1DA;
    color: #251605;
    font-size: 2vw;
  }
  @media (min-width: 768px) {
    .navbar {
      padding-left:  24px;
      padding-right: 24px;
    }
  }

  .navbar-brand {
    font-family: 'IM Fell Great Primer', serif;
  }

  .nav-link {
    margin-top: .25rem;
    font-family: 'Libre Baskerville', serif;
  }
  .dropdown-menu {
    background-color: #FBF1DA;
    font-family: 'Libre Baskerville', serif;
  }

  .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #FBF1DA;
    color: #EC8D5B;
  }
  #navbar .btn-lg{
    color: #EC8D5B;
    border-color: #EC8D5B;
    font-family: 'IM Fell Great Primer', serif;
    margin-left: 1vw;
    font-size: 2vw;
  }

  #navbar .btn-lg:focus, #navbar .btn-lg:focus, #navbar .btn-lg:hover {
    color: #FFFFFF;
    background-color: #EC8D5B !important;
    border-color: #EC8D5B!important;
    box-shadow: #EC8D5B!important;
    -webkit-box-shadow: none !important;
  }
  /* Title */
  #title .container-md{
    margin: auto;
    background-color: #9CAFB7;
    width: auto;
    border-bottom: 15%;
    font-family: 'IM Fell Great Primer', serif;
    text-align: center;
   }

   .row {
     margin-bottom: 3%;
   }
   .col-8 {
     overflow: auto;
   }

   .col-8 h1 {
     text-align: center;
     margin-bottom: 3%;
   }

   .col-8 h2 {
     margin-top: 5%;
     margin-bottom: 3%;
     text-align: center;
   }

   /* About */
   .container-md.about{
     margin: auto;
     background-color: #EC8D5B;
     width: auto;
     border-bottom: 15%;
    }

    #about .btn-lg{
      color: #251605;
      border-color: #251605;
      font-family: 'IM Fell Great Primer', serif;
      font-size: 3vw;
      margin: 15%;
    }

    #about .btn-lg:focus, #about .btn-lg:focus, #about .btn-lg:hover {
      color: #FFFFFF;
      background-color: #9CAFB7 !important;
      border-color: #9CAFB7!important;
      box-shadow: #9CAFB7!important;
      -webkit-box-shadow: none !important;
    }

   /* Projects */

   #projects {
     margin: auto;
     width: auto;
     border-bottom: 15%;
   }

   #project-1.container-lg{
     background-color: #9CAFB7;
     padding: 3px;
   }

   .responsive {
     width: 100%;
     height: auto;
   }


   #change-carousel {
     text-align: center;
     transition: 1.5s;
   }

   #contact .container-md{
     margin: auto;
     background-color: #9CAFB7;
     width: auto;
     border-bottom: 15%;
     font-family: 'IM Fell Great Primer', serif;
     text-align: center;
    }

    #contact .btn-lg{
      color: #251605;
      border-color: #251605;
      font-family: 'IM Fell Great Primer', serif;
      font-size: 3vw;
      margin: 15%;
    }

    #contact .btn-lg:focus, #contact .btn-lg:focus, #contact .btn-lg:hover {
      color: #FFFFFF;
      background-color: #EC8D5B !important;
      border-color: #EC8D5B!important;
      box-shadow: #EC8D5B!important;
      -webkit-box-shadow: none !important;
    }
